.linha {
display: flex;
margin-top: 40px;
justify-content: space-around;
text-align: center;
color: black;

}



h1{

    text-align: center;
    color: black;
}

.App{
    max-width: 900px;
    margin: auto;
    
    

}



.sla{
    margin-bottom: 0px;
    padding-top: 1px;
    
    padding-bottom: 132px;
  
    background-image: linear-gradient(to right top, #0066ff, #0091f0, #00a2b4, #66a98e, #a7ac9d);
}@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
  50% {
         background-position: 100% 50%;
     }
      100% { 
         background-position: 0% 50%;
 
     }

    
 }


